.main {
	margin-top: -21px;
	position: relative;
}

.content-2 #container-outer {
	border: 1px solid #dbdbdb80;
}

.content-1 .wrapper h2 {
	font-family: Helvetica, Verdana, sans-serif;
	text-align: center;
	position: relative;
	padding: 20px 0;
	font-size: 36pt;
	font-weight: normal;
	color: #2D2D2D;
	margin-top: 20px;
	margin-bottom: 10px;
	line-height: 1.1;
}

.content-1 .wrapper h5 {
	font-family: Helvetica, Verdana, sans-serif;
	text-align: center;
	font-weight: normal;
	font-size: 18pt;
	color: #424141;
	margin-top: -25px;
	margin-bottom: 10px;
	line-height: 1.1;
}

.content-2 .img-wrapper {
	padding-top: 1em;
	padding-left: 8em;
}

@media screen and (max-width: 580px)
{
	.content-1 .wrapper h2 {
		font-size: 27px
	} 
	.content-1 .wrapper h5 {
		font-size: 15px;
	}
}

@media screen and (max-width: 991px)
{
	.content-2 .img-wrapper {
		padding-left: 2em;
	}
}